.navbar{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8e7e7;

}

.logo{
    margin: 10px 30px;
    padding: 5px 10px;
}
.logo img{
    width: 150px;
    height: 60px;
}

.login-cart{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 30px;
    padding: 5px 10px;
}

.login-cart img{
    width: 30px;
    height: 30px;
}
.login-cart button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    padding: 5px 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;

}
.search input{
    width: 500px;
    height: 25px;
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(182, 182, 182);
}

.contact{
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}